
config SOC_SERIES_SAMD11
	bool
	select SOC_FAMILY_ATMEL_SAM0
	help
	  Enable support for Atmel SAMD11 Cortex-M0+ microcontrollers.

config SOC_SERIES
	default "samd11" if SOC_SERIES_SAMD11

config SOC_SAMD11D14AM
	bool
	select SOC_SERIES_SAMD11

config SOC
	default "samd11d14am" if SOC_SAMD11D14AM
	

